<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="execute-prmopt-container" style="margin-left:2%;margin-right:2%;">
    <div>
      <span>Compute Concordance by</span>
      <span style="color: red"> * </span>
    </div>
    <div>
      <!-- <app-common-dropdown formControlName="computeConcordanceBy"
        [options]="computeConcordanceAsOptions"></app-common-dropdown> -->
    </div>
    <div>
      <span>Model</span>
      <span style="color: red"> * </span>
    </div>
    <div>
      <!-- <app-common-dropdown formControlName="model" [options]="modelsAsOptions"></app-common-dropdown> -->
    </div>
    <div>
      <span>
        Reports to Process
      </span>
      <span style="color: red"> * </span>
    </div>
    <div>
      <!-- <app-common-range-slider formControlName="range" [min]="0" [max]="100" [step]="1">
      </app-common-range-slider> -->
      <div *ngIf="myForm.get('range')?.invalid && (myForm.get('range')?.dirty || myForm.get('range')?.touched)">
        <div *ngIf="myForm.get('range')?.errors?.['min']">Range must be at least 10</div>
        <div *ngIf="myForm.get('range')?.errors?.['max']">Range cannot exceed 100</div>
      </div>
    </div>
  </div>
  <div class="line"></div>
  <div formArrayName="prompts" style="margin-left:2%;margin-right:2%;">
    <div *ngFor="let control of prompts.controls; let i = index">
      <div class="prompt-container">
        <span>{{ promptLabels[i] }}</span>
        <div class="button-container">
          <img src="assets/icons/refresh.svg" alt="Login with ACR ID" class="refresh-icon"
            *ngIf="control.valid && control.dirty && control.value?.trim() && !refreshingStates[i]"
            (click)="onRefresh(i)">
          <button type="button" class="save-button" style="border:none; cursor: pointer; background-color: #fff;"
            (click)="onSave(i)" *ngIf="control.valid && control.dirty && control.value?.trim() && !refreshingStates[i]">
            Save
          </button>
          <button type="button" class="load-button" style="border:none; cursor: pointer; background-color: #fff;"
            (click)="onLoad(i)">
            Load
          </button>
        </div>
      </div>
      <!-- <span style="font-size: 12px; color: red;">
  valid: {{ control.valid }} |
  dirty: {{ control.dirty }} |
  value: '{{ control.value }}' |
  trimmed: '{{ control.value?.trim() }}' |
  refreshing: {{ refreshingStates[i] }}
</span> -->
      <!-- <app-common-textarea [ngStyle]="{
            'background-color': control.valid ? '#0000FF' : '#ffffff'
          }" [control]="control">
      </app-common-textarea> -->
    </div>
  </div>
  <div class="line"></div>
  <div class="execute-btn-container">
    <button [disabled]="!myForm.valid" type="submit" class="submit-btn">Execute Prompt(s)</button>
  </div>
</form>