<form [formGroup]="promptForm" (ngSubmit)="onSubmit()" class="container min-vh-100 d-flex flex-column">
  <div class="form-group mt-3">
    <span class="compute-concordance-label">Compute Concordance by</span>
    <span style="color: red"> * </span>
    <div>
      <dropdown formControlName="computeConcordanceBy" [options]="computeConcordanceAsOptions" [placeholder]="'Select'"
        (selectionChanged)="onComputeChange($event)"></dropdown>
    </div>
  </div>
  <div class="form-group mt-3">
    <span class="model-label">Model</span>
    <span style="color: red"> * </span>
    <div>
      <dropdown formControlName="model" [options]="modelsAsOptions" [placeholder]="'Select'"
        (selectionChanged)="onModelChange($event)"></dropdown>
    </div>
  </div>
  <div class="form-group mt-3">
    <span class="reports-to-process-label">
      Reports to Process
    </span>
    <span style="color: red"> * </span>
    <ngx-slider formControlName="range" [(value)]="valueStart" [(highValue)]="valueEnd" [options]="sliderOptions">
    </ngx-slider>
    <div *ngIf="promptForm.get('range')?.errors?.['required'] && promptForm.get('range')?.touched" style="color: red">
      <span style="color: red">Range is required.</span>
    </div>
    <div *ngIf="promptForm.get('range')?.errors?.['invalidRange'] && promptForm.get('range')?.touched">
      <span style="color: red">Invalid range: start must be less than end.</span>
    </div>
  </div>
  <div class="form-group mt-3">
    <div formArrayName="prompts">
      <div *ngFor="let item of prompts.controls; let i = index" class="mb-3">
        <div class="prompt-text-container">
          <div class="d-flex justify-content-between align-items-start">
            <span class="prompt-label">{{ promptLabels[i] }}</span>
            <!-- <img *ngIf="!showEditor[i]" src="/assets/icons/edit.svg" alt="Edit" class="edit-icon"
                (click)="togglePromptText(i)" /> -->
            <icon [icon]="svgIcon.Edit" *ngIf="!showEditor[i]" class="edit-icon" (click)="togglePromptText(i)">
            </icon>
            <div *ngIf="showEditor[i]" class="btn-group">
              <img src="/assets/icons/refresh.svg" class="refresh-icon" alt="Refresh" (click)="onRefresh(i)"
                role="button" [class.disabled]="!hasValidContent(i)"
                [style.pointer-events]="!promptTexts[i] ? 'none' : 'auto'"
                [style.opacity]="!promptTexts[i] ? 0.5 : 1" />
              <label class="load-label" (click)="onLoadPrompt(i)">Load</label>
              <label class="save-label" (click)="onSavePrompt(i)" [class.disabled]="!hasValidContent(i)"
                [style.pointer-events]="!hasValidContent(i) ? 'none' : 'auto'"
                [style.opacity]="!hasValidContent(i) ? 0.5 : 1">Save</label>
              <!-- <label class="save-label" (click)="save(i)" [class.disabled]="!promptTexts[i]"
                [style.pointer-events]="!promptTexts[i] ? 'none' : 'auto'"
                [style.opacity]="!promptTexts[i] ? 0.5 : 1">Save</label> -->
              <img src="/assets/icons/collapse.svg" alt="Collapse" class="custom-icon" (click)="onCollapsePrompt(i)" />
            </div>
          </div>
          <span *ngIf="promptIds[i]" style="display: none;">{{ promptIds[i] }}</span>
          <span *ngIf="promptNames[i]" style="display: none;">{{ promptNames[i] }}</span>
          <div #promptDiv contenteditable="true" class="form-control prompt-text-content"
            [class.d-none]="!showEditor[i]" [class.empty]="!promptTexts[i]"
            [attr.data-placeholder]="'Start writing....'" (input)="onContentChange($event, i)"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="execute-btn-container mt-auto pt-4">
    <div class="line"></div>
    <button type="submit" class="btn-custom" [disabled]="!promptForm.valid">Execute
      Prompts</button>
  </div>
</form>