<div class="background-container">
  <div class="gen-ai-title" *ngIf="!isAccessDenied">
    {{ title }}
  </div>
  <div class="gen-ai-subTitle" *ngIf="!isAccessDenied">
    {{ subTitle }}
  </div>
  <br />
  <div *ngIf="isAccessDenied">
    <!-- <app-access-denied></app-access-denied> -->
  </div>
  <div class="center-wrapper">
    <div class="accordion accordion-flush accordion-width" id="projectAccordion">
      <div *ngFor="let project of projectsWithUseCases; let i = index" class="accordion-item">
        <h2 class="accordion-header" [id]="'flush-heading' + i">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse' + i" aria-expanded="false"
            [attr.aria-controls]="'flush-collapse' + i" (click)="openIndex = openIndex === i ? null : i">
            <span class="me-auto">
              <p class="project-name">{{project.name}}</p>
              <p class="project-description">{{project.description}}</p>
            </span>
            <span (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = null">
              <icon [icon]="openIndex === i 
                ? svgIcon.CollapseArrow 
                : (hoveredIndex === i 
                    ? svgIcon.ExpandBlueArrow 
                    : svgIcon.ExpandArrow)"></icon>
            </span>
          </button>
        </h2>
        <div [id]="'flush-collapse' + i" class="accordion-collapse collapse"
          [attr.aria-labelledby]="'flush-heading' + i" data-bs-parent="#projectAccordion">
          <div class="accordion-body px-0" style="background-color: #667FAC;">
            <form *ngIf="project.useCaseDetails.length > 0; else noUseCases">
              <div class="useCase-height">
                <ng-container *ngFor="let useCase of project.useCaseDetails; let j = index">
                  <div class="form-check">
                    <input class="form-check-input custom-radio" type="radio"
                      (change)="selectedUseCaseByProject[project.id] = useCase.id" [id]="'useCase-' + i + '-' + j"
                      [name]="'useCaseGroup-' + i" [value]="useCase.id" />
                    {{ useCase.label }}
                  </div>
                  <hr *ngIf="j < project.useCaseDetails.length - 1" class="usecase-divider my-2" />
                </ng-container>
              </div>
              <hr class="usecase-divider my-3" />
              <div class="text-center" style="padding-bottom: 10px;">
                <button type="button" class="btn-custom" (click)="onViewDatasets(project)"
                  [disabled]="!selectedUseCaseByProject[project.id]">
                  View Dataset(s)
                </button>
              </div>
            </form>
            <ng-template #noUseCases>
              <p>No use cases available.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>