<div>
    <div class="okta-container">
        <div class="imageContainer ml-4">
            <!-- <img src="../../assets/images/alznet_logo.jpg" alt="Alzheimer's Network logo"> -->
        </div>
        <div>
            <p class="image-container-content">Welcome!!</p>
            <p class="image-container-content pt-0">Your account has been successfully acitvated</p>
            <p class="image-container-content t-0">Please click continue to complete registration</p>
        </div>
        <button (click)="onContinueClick()" class="continue-btn">Continue</button>
    </div>
</div>
