// Add this in your styles.scss
$primary-color: #363636;
$font-color: #FFFFFF;
$pagination-arrow-color: #9F9F9F;
$pagination-arrow-disabled-color: #d3d3d3;
$container-bkg-color: #fff;
$background-color: #fff;
$primary-button-color: #2268FD;
$text-color-black: #000000;
$modal-border-color: #C9C9C9;
$modal-box-shadow-color: rgba(0, 0, 0, 0.15);
$line-bkg-color: #C9C9C9;
$border-bottom-color: #cccccc;
$button-disabled-color: #666666;
$down-arrow-color: #9F9F9F;
$accordion-expanded-color: #eaf3ff;
$prompt-box-shadow: rgba(0, 0, 0, 0.1);
$burger-btn-color: #798BB8;
$header-bg-color: #2E456A;
$header-title-color: #CDD6EC;
$header-bottom-color: #798BB8;
$signup-text-clr: #D1E1F7;
$login-text-clr: #444;
$hover-text-clr: #99FF99;
$sidemenu-text-clr: #BFDAFD;
$profile-dropdown-bg-clr: #3A5787;
$profile-dropdown-hover-bg-clr: #667FAC;
$white-clr: #fff;
$dark-clr: #444;
$dart-clr: #0F0;
$card-border-clr: #7788B4;
$search-border-clr: #92B1E7;


:root {
  --primary-color: #{$primary-color};
  --font-color:#{$font-color};
  --pagination-arrow-color: #{$pagination-arrow-color};
  --pagination-arrow-disabled-color: #{$pagination-arrow-disabled-color};
  --container-bkg-color:#{$container-bkg-color};
  --background-color:#{$background-color};
  --primary-button-color:#{$primary-button-color};
  --text-color-black:#{$text-color-black};
  --modal-border-color:#{$modal-border-color};
  --modal-box-shadow-color: #{$modal-box-shadow-color};
  --line-bkg-color: #{$line-bkg-color};
  --border-bottom-color : #{$border-bottom-color};
  --button-disabled-color:#{$button-disabled-color};
  --down-arrow-color:#{$down-arrow-color};
  --accordion-expanded-color:#{$accordion-expanded-color};
  --prompt-box-shadow:#{$prompt-box-shadow};
  --burger-btn-color:#{$burger-btn-color};
  --header-bg-color:#{$header-bg-color};
  --header-title-color:#{$header-title-color};
  --header-bottom-color:#{$header-bottom-color};
  --signup-text-clr:#{$signup-text-clr};
  --login-text-clr:#{$login-text-clr};
  --hover-text-clr:#{$hover-text-clr};
  --sidemenu-text-clr:#{$sidemenu-text-clr};
  --profile-dropdown-bg-clr:#{$profile-dropdown-bg-clr};
  --profile-dropdown-hover-bg-clr:#{$profile-dropdown-hover-bg-clr};
  --white-clr:#{$white-clr};
  --dart-clr:#{$dart-clr};
  --dark-clr:#{$dark-clr};
  --card-border-clr:#{$card-border-clr};
  --search-border-clr:#{$search-border-clr};
}