@use 'definitions';

body {
  background-color: #1D2D45;
  font-family: roboto;
}

.custom-col {
  width: 20%;
  padding: 0 0.5rem;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1530px;
}