@use 'definitions';
@use 'fonts';
@use 'typography';
@use 'variables';

@mixin text-base {
  color: var(--primary-color);
  font-family: var(--font-family);
  font-style: var(--font-normal);
}

//font-weight: 300; font size: 42 px; line height normal
@mixin gen-ai-title {
  color: var(--font-color);
  font-family: var(--font-family);
  font-style: var(--font-normal);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-normal);
}

@mixin gen-ai-subTitle {
  color: var(--font-color);
  font-family: var(--font-family);
  font-style: var(--font-normal);
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-medium);
}


//font-weight: 400; font size: 20 px; line height normal
@mixin title {
  color: var(--font-color);
  font-family: var(--font-family);
  font-style: var(--font-normal);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
}

//font-weight: 400; font size: 14px; line height 20px;
@mixin secondary-title {
  color: var(--font-color);
  font-family: var(--font-family);
  font-style: var(--font-normal);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
}