<!-- <div class="layout-wrapper">

  <div class="navbar">
    <div class="nav-links">
      <a class="navhomecls" href="#" (click)="scrollTo('aboutservices')">About</a>
      <a class="navhomecls" href="#" (click)="scrollTo('dartsupport')">Support</a>
    </div>
  </div>
  <main class="content">
    <div class="home-top">
      <div class="container">
        <h3>Welcome to ACR dart</h3>
        <p>The ACR data analysis & research toolkit (DART) portal provides the gateway to browse and query data for research, quality improvement and
          clinical study operational purposes, as permitted by the access levels.</p>
        <h3>About ACR Supported Clinical Research</h3>
        <p>The American College of Radiology supports research groups designing and conducting clinical research studies and registry quality
          improvement programs. This ACR data archive is one example of providing external and internal researchers access to clinical and registry data.</p>
        <a href="http://www.acr.org/" target="_blank" class="readMore" rel="noopener noreferrer">Read More</a>
        <div class="home-signup">
          <button type="submit" (click)="onLoginClick()">
            <img src="assets/images/acr-logo-vert.png" alt="Login with ACR ID" class="button-image"/>
            <span>Login with ACR ID</span>
          </button>
        </div>
        <p class="p-text-center">
          If you do not have an account with those ID Providers listed, then
          please create an ACR account.
        </p>
      </div>
    </div>
    <div class="home-services" id="aboutservices" style="align-content: center">
      <div class="container" style="justify-content: center">
        <h3 class="mailText">Discover and analyze our datasets</h3>
        <ul>
          <li>
            <img
              src="assets/images/view.png"
              alt="service"
              class="service-image lazyload"
            />
            <h3>Discover</h3>
            <p>
              Get access to data and use our powerful search filters to discover and refine huge datasets.
            </p>
          </li>
          <li>
            <img src="assets/images/analyze.png" alt="service" class="service-image lazyload"/>
            <h3>Analyze</h3>
            <p>
              Explore, search and interact with the data easily using analytics,
              image pipeline and visualization dashboards.
            </p>
          </li>
          <li>
            <img
              src="assets/images/export.png" alt="service" class="service-image lazyload"/>
            <h3>Export</h3>
            <p>
              Download clinical, registry and imaging bulk datasets to local
              machine for later use.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </main>
  <footer class="footer">
    <div id="dartsupport" class="dart-support">
      <app-support></app-support>
    </div>
    <app-footer></app-footer>
  </footer>
</div>

<div class="custom-burger">
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
    .custom-burger {
  width: 30px;
  height: 22px;
  position: relative;
  cursor: pointer;
  z-index: 1050;
}

.custom-burger span {
  background: black;
  display: block;
  height: 3px;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 2px;
}
</style> -->

<h3>Welcome works!</h3>